# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build folders
/build
/dist

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test and admin scripts in backend
backend/*Admin.js
backend/test*.js
